<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
 
<body>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
    
        <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDfno6KtYvtVPurAmukSg2ehzMrAPiPmBA",
            authDomain: "gamepoint-fastapp.firebaseapp.com",
            databaseURL: "https://gamepoint-fastapp-default-rtdb.firebaseio.com",
            projectId: "gamepoint-fastapp",
            storageBucket: "gamepoint-fastapp.appspot.com",
            messagingSenderId: "288579400919",
            appId: "1:288579400919:web:12fb45207cf36f5e092c92"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        
        function sendMessage(clientId){
            let data={
            "message":'Time Up!',
            }
    
            firebase.database().ref(clientId).set(data);
        }

        //firestore.collection('activity').doc()
        /*firebase.collection('activity').doc().onUpdate('value',(snapshot)=>{
        alert('Hii');
            //console.log(snapshot.val().message);
         //$('#msg').append("<h1>"+snapshot.val().message+"</h1>");
        })*/
/*
        firebase.firestore().collection("activity").doc()
        .onSnapshot((doc) => {
        console.log("Current data: ", doc.data());
        });
*/    
        </script>

    <!------------------------------->
    <h1>Admin</h1>
    <h2>Online Users </h2>
    <p><%=ActiveClients.length %></p>
    <% if(ActiveClients.length == 0){ %>
        <p>No client active!</p>
    <% } else {%>
    <% for(var i=0; i < ActiveClients.length; i++) { %>
        <p><%= ActiveClients[i].id %></p><button onclick="sendMessage('<%=ActiveClients[i].id%>');">Send Message</button>
    <% } }%>
</body>
</html>